<a href="https://colab.research.google.com/github/sdrartus/jarochatapp/blob/master/dataset_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv('/content/obscenity-list.csv')

In [ ]:
data.head()

,text,canonical_form_1,canonical_form_2,canonical_form_3,category_1,category_2,category_3,severity_rating,severity_description
0,69,69,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
1,@55,ass,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
2,@ssfcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
3,@ssfucker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
4,@ssfvcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.4,Strong

In [ ]:
# expand the text display column

pd.set_option('display.max_colwidth', None)
data.head()

,text,canonical_form_1,canonical_form_2,canonical_form_3,category_1,category_2,category_3,severity_rating,severity_description
0,69,69,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
1,@55,ass,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.0,Mild
2,@ssfcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
3,@ssfucker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.8,Severe
4,@ssfvcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.4,Strong

In [ ]:
data

,text,canonical_form_1,canonical_form_2,canonical_form_3,category_1,category_2,category_3,severity_rating,severity_description
0,69,69,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.000000,Mild
1,@55,ass,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.000000,Mild
2,@ssfcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.800000,Severe
3,@ssfucker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.800000,Severe
4,@ssfvcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.400000,Strong
...,...,...,...,...,...,...,...,...,...
5061,yiffy,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475637,Mild
5062,yobbo,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475742,Strong
5063,zoophile,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475847,Strong
5064,zoophilia,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475952,Strong
5065,zubb,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.476057,Strong

In [40]:
import pandas as pd
import matplotlib.pyplot as plt 
import string
import re 
import nltk 
import numpy as np 
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [52]:
# preprocess text

def leet_conver(text):
  leet = {
    "1": "i",
    "3": "e",
    "4": "a",
    "5": "s",
    "7": "t",
    "0": "o",
    "@": "a",
    "/\ ": "a",
    "/-\ ": "a",
    "*": "a",
    "ä": "a",
    "á": "a",
    "à": "a",
    "â": "a",
    "a^": "a",
    "ã": "a",
    "å": "a",
    "ą": "a",
    "ª": "a",
    "∀": "a",
    "∧": "a",
    "α": "a",
    "8": "b",
    "|3": "b",
    "13": "b",
    "ß": "b",
    "þ": "b",
    "ć": "c",
    "č": "c",
    "ç": "c",
    "©": "c",
    "σ": "c",
    "(": "c",
    "¢": "c",
    "<": "c",
    '[': "c",
    '©': "c",
    "[)": "d",
    "|>": "d",
    "|)": "d",
    "|]": "d",
    "3": "e",
    "€": "e",
    "є": "e",
    "[-": "e",
    "|=": "f",
    "ƒ": "f",
    "/=": "f",
    "6": "g",
    "(_+": "g",
    "#": "h",
    "/-/": "h",
    "[-]": "h",
    "]-[": "h",
    ")-(": "h",
    "(-)": "h",
    ":-:": "h",
    "|~|": "h",
    "|-|": "h",
    "]~[": "h",
    "}{": "h",
    # "1" : "i",
    '!': "i",
    # "|" : "i",
    # "][" : "i",
    # "]" : "i",
    # ":": "i",
    "_|": "j",
    "_/": "j",
    "¿": "j",
    "(/": "j",
    "ʝ": "j",
    ";": "j",
    "X": "k",
    "|<": "k",
    "|{": "k",
    "ɮ": "k",
    "£": "l",
    "1_": "l",
    "ℓ": "l",
    "|_": "l",
    "[_": "l",
    "|V|": "m",
    "|\/|": "m",
    "/\/\ ": "m",
    "/V\ ": "m",
    "|V": "n",
    "|\|": "n",
    "/\/": "n",
    "[\]": "n",
    "/V": "n",
    "[]": "o",
    "0": "o",
    "()": "o",
    "°": "o",
    "|*": "p",
    "|o": "p",
    "|º": "p",
    "|°": "p",
    "/*": "p",
    "¶": "q",
    "(_,)": "q",
    "()_": "q",
    "0_": "q",
    "°|": "q",
    "<|": "q",
    "®": "r",
    "2": "r",
    "|?": "r",
    "/2": "r",
    "®": "r",
    "Я": "r",
    "|2": "r",
    "§": "s",
    "5": "s",
    "$": "s",
    "_/¯": "s",
    "7": "t",
    "†": "t",
    "¯|¯": "t",
    "(_)": "u",
    "|_|": "u",
    "L|": "u",
    "µ": "u",
    "\/": "v",
    "|/": "v",
    "\/\/": "w",
    "vv": "w",
    "\//": "w",
    "\^/": "w",
    "\V/": "w",
    "\|/": "w",
    "\_|_/": "w",
    "\_:_/": "w",
    "><": "x",
    "}{": "x",
    "×": "x",
    ")(": "x",
    " `/": "y",
    "φ": "y",
    "¥": "y",
    "\/": "y",
    "≥": "z",
    "7_": "z",
    ">_": "z"
}
  if re.match(r'^(?!\d+$)', text):
        text = str(text)
        text = text.lower()
        newval = ""
        for char in text:

            if char in leet:
                newval += leet[char]

            else:
                newval += char
        return (newval)
  else:
        return text
# make all text lowercase
def text_lowercase(text):
    return text.lower()
# remove numbers
def remove_numbers(text):
    result = re.sub(r'\d+', '', text)
    return result
# remove punctuation
def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)
# tokenize
def tokenize(text):
    text = word_tokenize(text)
    return text
# remove stopwords
stop_words = set(stopwords.words('english'))
def remove_stopwords(text):
    text = [i for i in text if not i in stop_words]
    return text
# lemmatize
lemmatizer = WordNetLemmatizer()
def lemmatize(text):
    text = [lemmatizer.lemmatize(token) for token in text]
    return text

def preprocessing(text):
    text = text_lowercase(text)
    text = leet_conver(text)
    text = tokenize(text)
    text = remove_stopwords(text)
    text = lemmatize(text)
    text = ' '.join(text)
    return text

In [48]:
pdata = [] # our preprocessed text column
for text_data in data['text']:
    pp_text_data = preprocessing(text_data)
    pdata.append(pp_text_data)
data['processed'] = pdata # add the preprocessed text as a column

In [51]:
data

,text,canonical_form_1,canonical_form_2,canonical_form_3,category_1,category_2,category_3,severity_rating,severity_description,processed
0,69,69,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.000000,Mild,69
1,@55,ass,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,1.000000,Mild,as
2,@ssfcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.800000,Severe,assfcker
3,@ssfucker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.800000,Severe,assfucker
4,@ssfvcker,fuck,ass,NaN,sexual anatomy / sexual acts,sexual orientation / gender,NaN,2.400000,Strong,assfvcker
...,...,...,...,...,...,...,...,...,...,...
5061,yiffy,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475637,Mild,yiffy
5062,yobbo,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475742,Strong,yobbo
5063,zoophile,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475847,Strong,zoophile
5064,zoophilia,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.475952,Strong,zoophilia
5065,zubb,NaN,NaN,NaN,sexual anatomy / sexual acts,NaN,NaN,2.476057,Strong,zubb

In [53]:
data= data[['text', 'processed']]
data.head()

        text  processed
0         69         69
1        @55         as
2   @ssfcker   assfcker
3  @ssfucker  assfucker
4  @ssfvcker  assfvcker

In [54]:
df = pd.DataFrame(data)
no_dupli =df.drop_duplicates()
no_dupli

           text  processed
0            69         69
1           @55         as
2      @ssfcker   assfcker
3     @ssfucker  assfucker
4     @ssfvcker  assfvcker
...         ...        ...
3327      yiffy      yiffy
3328      yobbo      yobbo
3329   zoophile   zoophile
3330  zoophilia  zoophilia
3331       zubb       zubb

[2937 rows x 2 columns]

In [ ]:
profane = pd.DataFrame(data)
print('Data Frame Values:\n ',  profane)
csv_data = profane.to_csv()
print('\nCSV String Values:\n', csv_data)  
csv_data = profane.to_csv(na_rep="None")  
print('CSV String with Null Data Values:\n', csv_data)

In [58]:
no_dupli

           text  processed
0            69         69
1           @55         as
2      @ssfcker   assfcker
3     @ssfucker  assfucker
4     @ssfvcker  assfvcker
...         ...        ...
3327      yiffy      yiffy
3328      yobbo      yobbo
3329   zoophile   zoophile
3330  zoophilia  zoophilia
3331       zubb       zubb

[2937 rows x 2 columns]

In [59]:
df = pd.DataFrame(data)
no_dupli_processed =df.drop_duplicates(subset="processed")
no_dupli_processed

           text  processed
0            69         69
1           @55         as
2      @ssfcker   assfcker
3     @ssfucker  assfucker
4     @ssfvcker  assfvcker
...         ...        ...
3327      yiffy      yiffy
3328      yobbo      yobbo
3329   zoophile   zoophile
3330  zoophilia  zoophilia
3331       zubb       zubb

[2571 rows x 2 columns]

In [63]:
data = no_dupli_processed
data

           text  processed
0            69         69
1           @55         as
2      @ssfcker   assfcker
3     @ssfucker  assfucker
4     @ssfvcker  assfvcker
...         ...        ...
3327      yiffy      yiffy
3328      yobbo      yobbo
3329   zoophile   zoophile
3330  zoophilia  zoophilia
3331       zubb       zubb

[2571 rows x 2 columns]

In [64]:
df2 = data.copy()
df2['duplicated']=df2.duplicated()
df2

           text  processed  duplicated
0            69         69       False
1           @55         as       False
2      @ssfcker   assfcker       False
3     @ssfucker  assfucker       False
4     @ssfvcker  assfvcker       False
...         ...        ...         ...
3327      yiffy      yiffy       False
3328      yobbo      yobbo       False
3329   zoophile   zoophile       False
3330  zoophilia  zoophilia       False
3331       zubb       zubb       False

[2571 rows x 3 columns]

In [65]:
df2['duplicated_first']=df2.duplicated(keep='first')
df2

           text  processed  duplicated  duplicated_first
0            69         69       False             False
1           @55         as       False             False
2      @ssfcker   assfcker       False             False
3     @ssfucker  assfucker       False             False
4     @ssfvcker  assfvcker       False             False
...         ...        ...         ...               ...
3327      yiffy      yiffy       False             False
3328      yobbo      yobbo       False             False
3329   zoophile   zoophile       False             False
3330  zoophilia  zoophilia       False             False
3331       zubb       zubb       False             False

[2571 rows x 4 columns]

In [66]:
data.duplicated(subset=['text'])

0       False
1       False
2       False
3       False
4       False
        ...
3327    False
3328    False
3329    False
3330    False
3331    False
Length: 2571, dtype: bool

In [67]:
df2.duplicated(subset=['text'])

0       False
1       False
2       False
3       False
4       False
        ...
3327    False
3328    False
3329    False
3330    False
3331    False
Length: 2571, dtype: bool

In [68]:
df2.duplicated(subset=['processed'])

0       False
1       False
2       False
3       False
4       False
        ...
3327    False
3328    False
3329    False
3330    False
3331    False
Length: 2571, dtype: bool

In [69]:
df2.duplicated(subset=['text', 'processed'])

0       False
1       False
2       False
3       False
4       False
        ...
3327    False
3328    False
3329    False
3330    False
3331    False
Length: 2571, dtype: bool

In [70]:
data

           text  processed
0            69         69
1           @55         as
2      @ssfcker   assfcker
3     @ssfucker  assfucker
4     @ssfvcker  assfvcker
...         ...        ...
3327      yiffy      yiffy
3328      yobbo      yobbo
3329   zoophile   zoophile
3330  zoophilia  zoophilia
3331       zubb       zubb

[2571 rows x 2 columns]

In [73]:
data.to_csv(r'/content/drive/MyDrive/Colab Notebooks/cleaned-profanity.csv')